.home-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.home-logo {
  height: 300px;
  pointer-events: none;
  opacity: 80%;
}

.home-scroll-wrapper {
  position: absolute;
  bottom: 60px;
  right: 60px;
}