.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 10px;
}

.nav a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.nav a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.nav a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}
.nav a:active {
  color: lightgray;
  background-color: transparent;
  text-decoration: none;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
